@import 'tachyons/variables';

.button {
	width: 124px;
}

.text-button {
	width: 64px;
}

.hidebbutton {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.facebook-blue {
	background-color: #3B5998
}

.google-red {
	background-color: #DD4B39
}
